* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Flex", sans-serif;
  color: #fff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

html {
  font-size: 62.5%;
  background: #060608;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Mohave", sans-serif;
}

button {
  border: 0;
  background: transparent;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 124.6rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 7.2rem;
  display: flex;
  background: rgba(0, 4, 7, 0.9);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav {
  display: flex;
  gap: 4.7rem;
}
header nav a {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 150%;
}
header button {
  border: 2px solid #2f2f3b;
  padding: 0.95rem 2.4rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 150%;
  border-radius: 3.2rem;
}

.s-hero {
  width: 100%;
  background-image: url("../../img/bg-hero.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 80rem;
  padding-top: 11.2rem;
  padding-bottom: 14.3rem;
}
.s-hero .container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.s-hero .left {
  width: 100%;
  max-width: 62.2rem;
}
.s-hero .left .platform {
  display: flex;
  margin-bottom: 2.4rem;
}
.s-hero .left .platform span {
  color: #c0c0c0;
  background: #1b1b21;
  font-size: 1.2rem;
  line-height: 150%;
  padding: 0.6rem 1.2rem;
  border-radius: 4px 0px 0px 4px;
}
.s-hero .left .platform strong {
  border-radius: 4px 0px 0px 4px;
  background: #25252e;
  padding: 0.6rem 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 150%;
}
.s-hero .left .description {
  font-size: 1.8rem;
  line-height: 150%;
  margin-bottom: 4.5rem;
}
.s-hero .left .value {
  margin-bottom: 7.2rem;
}
.s-hero .left .value h3 {
  font-size: 3.2rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 2.4rem;
}
.s-hero .left .value .btns {
  display: flex;
  align-items: center;
  gap: 2.2rem;
}
.s-hero .left .value .btns .btn-cart {
  border-radius: 3.2rem;
  background: #f55827;
  padding: 1.6rem 4rem;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 150%;
}
.s-hero .left .value .btns .btn-favorite {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 5.6rem;
  height: 5.6rem;
  border: 2px solid #2f2f3b;
}
.s-hero .left h1 {
  font-size: 5.6rem;
  font-weight: 780;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 0.8rem;
}
.s-hero .left ul {
  margin-bottom: 1.7rem;
  display: flex;
  gap: 1.6rem;
}
.s-hero .left ul li {
  display: flex;
  align-items: center;
  align-items: center;
  gap: 1.6rem;
}
.s-hero .left ul li:last-child:before {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: #c0c0cc;
}
.s-hero .left ul:last-child {
  margin-bottom: 0;
}
.s-hero .left ul:last-child li:before {
  display: none;
}
.s-hero .left ul p {
  color: #f2f2ff;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 150%;
}
.s-hero .right {
  width: 100%;
  max-width: 9.5rem;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1.6rem;
  margin-top: 4.3rem;
}
.s-hero .right span {
  border-radius: 0.6rem;
  background: #f09104;
  display: block;
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 150%;
}
.s-hero .right p {
  color: #e1e1e1;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 150%;
}

footer {
  padding-top: 9.6rem;
  padding-bottom: 7.2rem;
}
footer .container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
footer .left {
  width: 100%;
  max-width: 66.8rem;
}
footer .left strong {
  font-family: "Mohave", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1.1rem;
  display: block;
}
footer .left p {
  color: #ceced9;
  font-size: 1.4rem;
  line-height: 150%;
}
footer .right {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}
footer .right span {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 150%;
}/*# sourceMappingURL=main.css.map */