.s-vilao {
  width: 100%;
  height: 80rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url("../../img/bg-venon.png") no-repeat center center;
  background-size: cover;
  position: relative;
  z-index: -1;

  &::after,
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 216px;
    top: 0;
    flex-shrink: 0;
    background: linear-gradient(180deg, #000407 0%, rgba(0, 4, 7, 0) 100%);
  }

  h2 {
    font-family: Mohave, sans-serif;
    font-size: 4.8rem;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 0.8rem;
    text-transform: uppercase;
    text-align: center;
  }

  p {
    text-align: center;
    color: $bg-white-3;
    font-size: 1.8rem;
    margin-bottom: 7.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
  }
}
